.git
.github
.gitignore
.gitattributes
.editorconfig
.styleci.yml
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
docker-compose.yml
CHANGELOG.md
README.md
phpunit.xml
tests
